.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;

    
}

.logo img{
 padding: 5px 20px;
}


.imagen-menu{
    width: 100%;
}

.texto-imagen{

 position: absolute;
 left: 700px;
 top: 400px;


 font-size: 5rem;
 color: aliceblue;
    
}



.cartas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;

}

.carta{
    padding: 5px;
    border: 1px grey solid;
    border-radius: 8px;
    margin: 10px;
}


.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.encabezado h3{
    margin-top: 150px;
    text-align: center;
    font-size: 35px;

}
.encabezado img{
    padding: 30px;
}

/*.carta .datos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}*/

.boton{
    display: flex;
    margin-left: 500px;
}





