.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;  
}

/*body > header > nav > a > img*/
.logo img{
 padding: 5px 20px;
}


.imagen-menu{
    width: 100%;
}

.texto-imagen{
 position: absolute;
<<<<<<< HEAD
 
=======
 left:  calc(100vw /2);
 top: calc(100vh/2) ;


>>>>>>> 603d0f59b83e14d1a09bba53b809ade0e379bf52
 font-size: 5rem;
 color: aliceblue;
}

.cartas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;

}

.carta{
    padding: 5px;
    border: 1px grey solid;
    border-radius: 8px;
    margin: 10px;
}


.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.encabezado h3{
    margin-top: 150px;
    text-align: center;
    font-size: 35px;
}
.encabezado img{
    padding: 30px;
}
.encabezado img{
    padding: 30px;
}

.carta .datos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    
}






