.top-nav{
    background: #62331b;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 8rem;
}

.nav-list{
    text-emphasis-color: black;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
    list-style-type: none;
    margin-left: 13rem;
}

.nav-list-login-btn{
    text-emphasis-color: black;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
    margin-left: 36rem;
}

.arrow{
    position: relative;
    right: 1.5rem;
}

.nav-list-link{
   color: var(--clr-white);
   text-decoration: none;
   font-size: var(--fs-md);
}

.mobile-cb{
    display: none;
}


/*landscape less than 768*/
@media (max-width: 767.98px){
    .top-nav{
        overflow-x: hidden;
        background: #62331b;
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-left: auto;
        margin-bottom: 8rem;
    }
    
    .nav-list{
        display: flex;
        position: fixed;
        margin: 0;
        top: 0;
        right: 18rem;
        width: 50%;
        height: 100vh;
        align-content: center;
       
        gap: 1rem;
        text-align: right;
        padding-left: 6rem;
    }
    .nav-list-link{
        color: var(--clr-white);
        text-decoration: none;
        font-size: var(--fs-md);
        position: relative;
        left: 19.5rem;
        bottom: 14.5rem;
     }

}