html{
    font-size: 16px;
}

body{
    overflow-x: hidden;
    background: white;
    font-family: var(--ff-secondary);
    display: grid;
    margin: 0;
    padding: 0;
    z-index: 1;
}


@media (max-width: 767.98px){
   
    body{
        overflow-x: hidden;
    }

}
