.hero-title{  
    color: black;  
    font-size: clamp(var(--fs-lg), 4rem, var(--fs-xl));
    font-family: var(--ff-main);
    
    position: relative;
    left: 12rem;
    line-height: 6.2rem;
}

.hero-text{
    color: black;
    font-size: var(--fs-md);
    width: clamp(30ch, 50%, 49.5ch);
    /* margin: 0 auto 3rem; */
    text-align: left;
    position: relative;
    left: 12.2rem;
    line-height: 2rem;
    bottom: 2rem;   
}

.name-kimchis{
    color: var(--clr-white);
    font-family: 'Inter', sans-serif;
    font-size:x-large;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    left: 9rem;
}

.dish-title{
    font-size: 1.6rem;
    font-family: var(--ff-main);
    position: relative;
    bottom: 2rem;
    
}

.dish-text{
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 2;
    max-width: 330px; 
    position: relative;
    right: .5rem;
    bottom: 3.5rem;
}

.featured-dishes-title{
    font-family: 'Inter', sans-serif;
    /* font-size: clamp(var(--fs-md, 1.875rem, var(--fs-lg))); */
    font-size: 3rem;
    width: 17ch;
    position: relative;
    /* margin: 1rem auto; */
    left: 5.4rem;
}

.subscribe-title{
    font-size: clamp(2rem, 2.25rem, var(--fs-lg));
    width: min(80%, 90%, 100%);
    margin: 0;
}

/* DISH HTML */

.name-dish{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: black;
   
    position: relative;
    left: 23rem;
    bottom: 2.7rem;
    
}

/*landscape less than 768*/
@media (max-width: 767.98px){
   
    .subscribe-title{
        margin: auto;
    }
}